<h1>Item#index</h1>
<%= fields_for "item" do |form| %>
    <ul>
    <% @equipments.each do |equipment| %>
        <% inventories = get_inventory(equipment.id) %>
        <li>
          <%= equipment.name %>
          (Slots: <%= inventories.count %>)
          <ul>
            <% inventories.each do |inventory| %>
                <li>
                  <%= inventory.name %>
                  (Max Weight: <%= inventory.max_weight %>)
                  <ul>
                  <% inventory.items.each do |item| %>
                      <li>
                      <%= item.name %>
                        (Weight: <%= item.weight %>)
                        <%= form.select :action, options_for_select([["None", ""], ["Move", "move"],["Drop", "drop"], ["Break", "break"], ["Blueprint", "blueprint"], ["Delete", "delete"]]) %>
                        <script>
                            $('select#item_action').on('change', function(event) {
                                var selected_action = $(this).val();
                                alert(selected_action);
                                $.ajax({url: '/item/item_action', data: { id: <%= item.id %>, action: selected_action},
                                    success : function (response, textS, xhr) {
                                        alert("ok");
                                    },
                                    error : function (xmlHttpRequest, textStatus, errorThrown) {
                                        alert("not ok " + errorThrown);
                                    }
                                });
                            })
                        </script>
                      </li>
                  <% end %>
                  </ul>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
    </ul>
<% end %>
