<h1><%= @location.title %></h1>
<p>Size: <%= @location.size %>Kvm</p>
<p>
<% if @location.owner.nil? %>
  <%= button_to 'Claim', { :controller => 'worlds', :action => 'claim_area'} %>
<% else %>
      Onwer: <%= @location.owner %>
      <br/>
      <% if @location.owner == @my_player.FirstName %>
        <a href="#">Build</a> | <a href="#">Settings</a> | <a href="#">Unclaim</a>
      <% else %>
        <a href="#">Take over</a>
      <% end %>
<% end %>
  <%= button_to 'Search', { :controller => 'worlds', :action => 'search_location'} %>
</p>
<p>
<table class="pure-table pure-table-striped">
  <tr>
    <th>Location</th>
    <th>Biome</th>
    <th>Size</th>
    <% if has_item("Compass") %>
        <th>Compass</th>
    <% end %>
  </tr>

  <% @paths.each do |path| %>
      <tr>
        <td><a href="worlds/<%= path.id %>"><%= path.title %></a></td>
        <td><%= path.biome %></td>
        <td><%= path.size %></td>
        <% if has_item("Compass") %>
            <td> <%= compass(@location,path) %> | <%= path.compass %></td>
        <% end %>
      </tr>
  <% end %>
  </table>
<br/>
    <table class="pure-table pure-table-striped">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
      </tr>
  <% @caves.each do |cave| %>
      <tr>
        <td><a href=<%= cave.id %>><%= cave.name %></a></td>
            <td><%= cave.typ %></td>
            <td><%= cave.size %></td>
      </tr>
  <% end  %>
  <% @dungeons.each do |dungeon| %>
    <tr>
      <td><a href=<%= dungeon.id %>><%= dungeon.name %></a></td>
      <td><%= dungeon.typ %></td>
      <td><%= dungeon.explored.to_s + '/' + dungeon.size.to_s %></td>
    </tr>
  <% end  %>
</table>
<br/>
<table class="pure-table pure-table-striped">
  <tr>
    <th>NPC</th>
    <th colspan="4">Action</th>
  </tr>
  <% @npcs.each do |npc| %>
      <tr>
        <td><a href="npc/<%= npc.id %>"><%= npc.Race %></a></td>
        <td>
          <button>Talk</button>
        </td>
        <td>
          <%= button_to 'Attack', { :controller => 'worlds', :action => 'attack', :params => {:target_id => npc.id, :npc => true}}, {:class => "urlbtn" } %>
        </td>
        <td>
          <button>Analyze</button>
        </td>
        <td>
          <button>Steal</button>
        </td>
      </tr>
  <% end %>
</table>
<br/>
<table class="pure-table pure-table-striped">
  <tr>
    <th>Player</th>
    <th colspan="4">Action</th>
  </tr>
  <% @players.each do |player| %>
      <% if player.id != @my_player.id && player.Status == 1 %>
          <tr>
            <td><a href="character/<%= player.id %>"><%= player.FirstName %></a></td>
            <td>
              <button>Talk</button>
            </td>
            <td>
              <%= button_to 'Attack', { :controller => 'worlds', :action => 'attack', :target_id => player.id, :npc => false}, {:class => "urlbtn" } %>
            </td>
            <td>
              <button>Analyze</button>
            </td>
            <td>
              <button>Steal</button>
            </td>
          </tr>
<% end %>
<% end %>
</table>
<br/>
<table class="pure-table pure-table-striped">
  <tr>
    <th>Entity</th>
    <th>Action</th>
  </tr>
  <% @players.each do |player| %>
      <% if player.id != @my_player.id && player.Status == 0 %>
          <tr>
            <td><a href="worlds/<%= player.id %>"><%= player.FirstName %></a></td>
            <td> <a href="worlds/<%= player.id %>">Loot</a></td>
          </tr>
      <% end %>
  <% end %>

</table>
<br/>
<table class="pure-table pure-table-striped">
  <tr>
    <th>Object</th>
    <th>Action</th>
  </tr>
  <% @objects.each do |object| %>
      <tr>
        <td><a href="worlds/<%= object.id %>"><%= object.name %></a></td>
        <% if object.typ == 'Metal' && has_item('Pickaxe') %>
            <td> <%= button_to 'Mine', { :controller => 'worlds', :action => 'collect_world_item', :id => object.id} %></td>
        <% elsif object.typ == 'Herb' && has_item('Sickle') %>
            <td> <%= button_to 'Cut', { :controller => 'worlds', :action => 'collect_world_item', :id => object.id} %></td>
        <% elsif object.typ == 'Tree' && has_item('Axe') %>
            <td> <%= button_to 'Chop', { :controller => 'worlds', :action => 'collect_world_item', :id => object.id} %></td>
        <% else %>
        <td>Need tool</td>
        <% end %>
      </tr>
  <% end %>

</table>