<!DOCTYPE html>
<html>
<head>
  <title>Magiclord</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Character</a></li>
    <li><a href="worlds">World</a></li>
    <li><a href="#">Inventory</a></li>
    <li><a href="#">Quest</a></li>
    <% if user_signed_in? %>
        <li><%= link_to 'Logout', logout_path %></li>
    <% else %>
        <li><%= link_to 'Login', login_path %></li>
    <% end %>

  </ul>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in?
    current_user
    end %>
<%= yield %>

</body>
</html>
